*
!.gitignore
!package.json
!tsconfig.json
!src/
!src/**
!scripts/
!scripts/build.js
!.github/
!.github/**
!README_fa.md
!README.md
!RELEASE.md
!NAT64Prefixes.md
!EDGEONE_*.md
!edgeone.config.json
!.edgeonerc
!edge-functions/
!edge-functions/**
!docs
!docs/**